<!DOCTYPE html>
<html 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/defaultLayout}">
<section layout:fragment="content" class="contents d-flex justify-content-center">
	<div class="w-70">
		<br>
		<div class="d-flex justify-content-center">
			<h1 class="mt-4 mb-4"><b>좋아요 목록</b></h1>
		</div>
		<hr>
		<br>
		<table class="table">
			<thead>
				<tr>
					<th>No.</th>
					<th>좋아요 한 제목</th>
					<th>좋아요 한 날짜</th>
				</tr>
			</thead>
			<tbody>
				<!-- 타임리프 반복문 돌기 -->
				<tr th:each="post : ${post}">
					<td th:text="${post.id}">좋아요 한 글 번호</td>
					<td th:text="${post.content}">좋아요한 글 내용</td>
					<td th:text="${#temporals.format(post.createdAt, 'yyyy년 M월 d일 HH:mm:ss')}">좋아요 한 날짜</td>
				</tr>
			</tbody>
		</table>
	</div>
</section>

<th:block layout:fragment="script">
    <script>
		
    </script>
</th:block>