<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.Instargram.comment.mapper.CommentMapper">
	<insert id="insertComment" parameterType="map">
		INSERT INTO `comment`
		(
			`userId`,
			`postId`,
			`content`,
			`createdAt`,
			`updatedAt`)
		VALUES
		(
			#{userId}
			,#{postId}
			,#{content}
			,NOW()
			,NOW()
		);
	</insert>
	
	<!-- 전체 게시물의 모든 댓글들 -->
	<select id="selectCommentList" resultType ="com.Instargram.comment.domain.Comment">
		SELECT 
			`id`
			,`userId`
			,`postId`
			,`content`
			,`createdAt`
			,`updatedAt`
		FROM
			`comment`
	</select>
	
	<!-- 글번호에 해당하는 댓글들 -->
	<select id="selectCommentListByPostId" parameterType = "int" resultType ="com.Instargram.comment.domain.Comment">
		SELECT 
			`id`
			,`userId`
			,`postId`
			,`content`
			,`createdAt`
			,`updatedAt`
		FROM
			`comment`
		WHERE
			`postId` = #{postId}
	</select>
</mapper>