<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.Instargram.follow.mapper.FollowMapper">
	<insert id="insertFollowing" parameterType="map">
		INSERT INTO `follow`
		(
			`FollowerUserId`
			,`FollowingUserId`
			,`createdAt`
			,`updatedAt`)
		VALUES
		(
			#{FollowerUserId}
			,#{FollowingUserId}
			,NOW()
			,NOW()
		);
	</insert>
	
	<delete id="deleteFollowing" parameterType="map">
		DELETE
		FROM 
			`follow`
		WHERE
			`FollowerUserId` = #{FollowerUserId}
			AND
			`FollowingUserId` = #{FollowingUserId}
	</delete>
	
	<select id="getFollowerCountByFollowingUserId" parameterType="int" resultType="int">
		SELECT
			COUNT(1)
		FROM
			`follow`
		WHERE
			`FollowingUserId` = #{FollowingUserId}
	</select>
	
	<select id="getFollowingCountByUserId" parameterType="int" resultType="int">
		SELECT
			COUNT(1)
		FROM
			`follow`
		WHERE
			`FollowerUserId` = #{FollowerUserId}
	</select>
</mapper>