
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<footer th:fragment="footerFragment">

			<div class="ml-4">
				<br>
				<br>
				<br>
				
				<div th:if="${session.userId != null}" class="mt-4">
					<!-- 로그인 된 경우 -->
					<b><span th:text="${session.userLoginId} + '님 안녕하세요'"></span></b> 
						<br>
						<a href="/user/sign-out">로그아웃</a>
				</div>
				
				<div th:unless="${session.userId != null}">
					<a href="/user/sign-in-view">로그인</a>
				</div>
				
				<br>
				<br>
				<br>
				<br>
				<br>
				<div class="d-flex">
					<small><b>@ 2024 INSTARGRAM FROM META</b></small>
				</div>
			</div>

	</footer>
</body>
</html>