<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header th:fragment="headerFragment">
	<div>
		<!-- 로고 영역 -->
		<div>
			<a href="/timeline/timeline-view"><img alt="로고 이미지" src="/img/instargramLogo.png"></a>
		</div>
		<!-- 메뉴영역 -->
		<nav>
			<!-- 수직(세로)방향 메뉴: nav + flex-column -->
			<ul class="nav flex-column font-weight-bold f">
				<li class="nav-item mt-4"><h3><a href="/timeline/timeline-view" class="nav-link">홈<img class="ml-1 mb-2" alt = "홈 이모티콘" src="/img/home1.png"></a></h3></li>
				<li class="nav-item mt-2"><h3><a href="/like/like-list-view" class="nav-link">좋아요목록<img class="ml-2" alt = "좋아요목록" src="https://www.iconninja.com/files/214/518/441/heart-icon.png" width="40" height="40"></a></h3></li>
				<li class="nav-item mt-2"><h3><a href="/post/post-create-view" class="nav-link">만들기<img class="mb-1" alt = "만들기" src="/img/create.png"></a></h3></li>
				<li class="nav-item mt-2"><h3><a href="/profile/profile-view" class="nav-link">프로필<img class="ml-2 mb-2" alt = "프로필" src="/img/profile.png"></a></h3></li>
			</ul>
		</nav>
	</div>
</header>
</html>