<!DOCTYPE html>
<html 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/defaultLayout}">
<section layout:fragment="content" class="contents bg-danger">
	<div class="contents-box">
		<!-- 타임라인 영역 -->
		<div class="timeline-box my-5">
			<!-- 글 반복 -->
			
			<!-- postList에서 하나를 뽑아 post에 담는다. -->
			<div th:each= "cardView:${cardViewList}" class="card border rounded mt-2">
				<!-- 글쓴이, 더보기 -->
				<div class="p-2 d-flex justify-content-between">
					<!-- 글쓴이 -->
					<!-- post로 접근 -->
					<span class="font-weight-bold" th:text="${cardView.user.loginId}">글쓴이</span>
					<span>10시간</span>

					<!-- 더보기 -->
					<!-- 로그인 된 사람이랑 글쓴이가 같을때만 접근 가능하도록 -->
					<a th:if = "${session.userId == cardView.post.userId}" href="#" class="more-btn" th:data-post-id="${cardView.post.id}" data-toggle="modal" data-target="#modal">
						<img src="https://www.iconninja.com/files/860/824/939/more-icon.png" width="30">
					</a>
				</div>
				
				<!-- 본문 이미지 -->
				<div class="card-img">
					<img th:src="${cardView.post.imagePath}" class="w-100" alt="본문 이미지">
				</div>
				
				<!-- 좋아요 -->
				<div class="card-like m-3">
					<a href="#" class="like-btn" th:data-post-id="${cardView.post.id}">
						<img th:if="${cardView.filledLike == false}"  src="https://www.iconninja.com/files/214/518/441/heart-icon.png" width="18" height="18" alt="empty heart">
						<img th:unless="${cardView.filledLike == false}" src="https://www.iconninja.com/files/527/809/128/heart-icon.png" width="18" height="18" alt="filled heart">
					</a>
					<span th:text="|좋아요 ${cardView.likeCount}개|"></span>
				</div>
				
				<!-- 글 -->
				<div class="card-post m-3">
					<span class="font-weight-bold" th:text="${cardView.user.loginId}">글쓴이</span>
					<span class="ml-2" th:text=${cardView.post.content}>글내용</span>
				</div>
				
				<!-- 댓글 제목 -->
				<div class="card-comment-title border-bottom">
					<div class="font-weight-bold ml-3 mb-1 ">댓글</div>
				</div>
				
				<!-- 댓글 목록 -->
				<div class="card-comment-list m-2">
					<!-- 댓글들 -->
					<div class="card-comment m-1" th:each="commentView : ${cardView.commentList}">
						<span class="font-weight-bold" th:text="${commentView.user.loginId}">댓글쓰니</span>
						<span class="ml-4" th:text="${commentView.comment.content}">댓글 내용임</span>
						
						
						<!-- 댓글 삭제 -->
						<a href="#" class="comment-del-btn" th:if="${session.userId == commentView.comment.userId}" th:data-comment-id="${commentView.comment.id}">
							<img src="https://www.iconninja.com/files/603/22/506/x-icon.png" width="10" height="10">
						</a>
					</div>
					
					<!-- 댓글 쓰기 -->
					<div class="comment-write d-flex">
						<input type="text" class="comment-input form-control col-11" placeholder="댓글 달기">
						<button type="button" class="comment-btn btn btn-light ml-1" th:data-post-id="${cardView.post.id}" th:data-user-id="${session.userId}">게시</button>
					</div>															<!-- 별칭 사용이다. th:data-  까지가 선언, post-id가 별칭이된다. post-id로 사용가능하다 -->
				</div>
			</div> <!-- 글반복 -->
		</div> <!-- 타임라인 영역 -->
		
		<!-- Modal: 타임리프 레이아웃 때문에 section 태그 안쪽에 위치 -->
		<div class="modal fade" id="modal">
			<!-- modal-sm:작은 모달창, modal-dialog-centered:수직 가운데 정렬 -->
			<div class="modal-dialog modal-sm modal-dialog-centered">
				<div class="modal-content text-center">
		      		<div class="py-3">
		      			<a href="#" id="postDeleteBtn">삭제하기</a>
		      		</div>
		      		<div class="py-3 border-top">
		      			<a href="#" data-dismiss="modal">취소</a>
		      		</div>
				</div>
			</div>
		</div>
	</div> <!-- 기초 div -->
	
</section>

<th:block layout:fragment="script">
    <script>
    	$(document).ready(function(){
    		
    		//댓글 추가 btn
    		$(".comment-btn").on('click', function(){
    			//this : comment-btn 중에서 클릭이 일어난 그 하나. => this
    			// 게시물이 5개가 있으면 어디서 comment-btn에 일어났는지 찾기가 어렵다
    			// 따라서 this를 활용하면 5개의 게시물 중 클릭이 일어난 그 것을 가져오는 것이 this이다. 
    			let userId = $(this).data("user-id");
    			if(!userId){
    				//비로그인 상태
    				alert("로그인 먼저 해주세요!");
    				location.href="/user/sign-in-view";
    				return;
    			}
    			
    			let postId = $(this).data("post-id");  //위에서 사용된 별칭 post-id 가 사용된 것이다. 
    			//siblings은 형제 요소를 선택하는 것이다.
    			//형제 요소란 같은 줄에 있는 것을 의미하며 this (comment-btn)의 <button>태그의 형제를 의미한다.
    			//현재 button태그의 형제는 윗줄의 <input type = ...> input태그이다.
    			//siblings의 "input" 에 해당하는 모든 것을 가져오겠다는 의미가 된다.
    			// 따라서 <input type="text" class="comment-input form-control col-11" placeholder="댓글 달기"> 의 값을 가져오게 된다. 
    			let content = $(this).siblings("input").val().trim();
    			if(!content){
    				alert("댓글 내용을 입력하세요");
    				return;
    			}
    			
    			$.ajax({
    				type : "post"
    				, url : "/comment/create"
    				, data : {"postId" : postId, "content" : content}
    				, success:function(data){
    					if(data.code == 200){
    						location.reload(true);
    					} else if (data.code==403){
    						//비로그인 상태
    						location.href = "/user/sign-in-view";
    					} else{
    						alert(data.error_message);
    					}
    				}
    				, error:function(e){
    					alert("댓글 쓰기에 실패했습니다");
    				}
    			});
    		});
    		
    		//댓글 삭제
    		$(".comment-del-btn").on('click', function(e){
    			e.preventDefault();
    			
    			let commentId = $(this).data("comment-id");
    			//alert(commentId);
    			
    			$.ajax({
    				type:"DELETE"
    				, url:"/comment/delete"
    				, data: {"commentId" : commentId}
    				, success : function(data){
    					if(data.code == 200){
    						location.reload(true);
    					} else{
    						alert(data.error_message);
    					}
    				}
    				, error:function(request, status, error){
    					alert("댓글 삭제에 실패했습니다");
    				}
    			}); //ajax
    		}); //댓글삭제 btn
    		
    		//좋아요 설정,해제
    		$(".like-btn").on('click', function(e){
    			e.preventDefault();
    			
    			//글번호 꺼내기
    			let postId = $(this).data("post-id");
    			//alert(postId);
    			
    			$.ajax({
    				url: "/like/" + postId
    				, success : function(data){
    					if(data.code == 200){
    						location.reload(); //새로고침 -> 타임라인 뿌려질 때 하트 여부 나타난다
    					} else if (data.code == 403){
    						//비로그인 상태시 로그인페이지로 이동
    						alert(data.error_message);
    						location.href= "/user/sign-in-view";
    					}
    				}
    				, error:function(e){
    					alert("좋아요를 하는데 실패했습니다");
    				}
    			}); //ajax
    		}); //like
    		
    		//더보기
    		$(".more-btn").on('click', function(e){
    			e.preventDefault();
    			
    			let postId = $(this).data('post-id');
    			
    			$("#modal").data('post-id', postId);
    			//alert($("#modal").data('post-id'));
    		});
    		
    		//글삭제 
    		$("#postDeleteBtn").on('click', function(e){
    			e.preventDefault();
    			
    			let postId = $("#modal").data("post-id");
    			//alert(postId);
    			
    			//글삭제 ajax
    			$.ajax({
    			type : "delete"
    			, url: "/post/delete"
    			, data: {"postId" : postId}
    			, success : function(data){
    				if(data.code == 200){
    					location.reload(true);
    				} else {
    					alert(data.error_message);
    					}
    				}
    			, error:function(e){
    				alert("삭제하는데 실패!")
    				}
    			});
    		});
    		
    	});
    </script>
</th:block>

