<!DOCTYPE html>
<html 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/defaultLayout}">
<section layout:fragment="content">
	<div class="d-flex justify-content-center">
		<div>
			<div class="mt-5 d-flex">
				<h2 class="ml-5"><b>팔로잉</b></h2>
			</div>
			<hr>
			
			<!-- 타임리프 반복 돌기 할 것. -->
			<div class="d-flex mb-3" th:each="user : ${user}">
				<div>
					<img alt="프로필 이미지" th:src="${user.profileImg}"  width="50px" height="50px">
				</div>
				<div class="ml-2">
					<div th:text = "${user.loginId}">아이디</div>
					<div th:text = "${user.name}">이름</div>
				</div>
				<div class="ml-5">
					<button type="button" class="btn btn-light">삭제</button>
				</div>
			</div> <!-- 반복 끝 -->
		</div>
	</div>
</section>